In [57]:
import pandas as pd 
import numpy as np
from sklearn import tree, metrics
from sklearn.model_selection import train_test_split


iris = pd.read_csv('iris.data', header=None)

iris.rename(columns={0:'sepala_altura',
                     1:'sepala_largura',
                     2:'petala_altura',
                     3:'petala_largura',
                     4:'classe'}, inplace=True)

iris

     sepala_altura  sepala_largura  ...  petala_largura          classe
0              5.1             3.5  ...             0.2     Iris-setosa
1              4.9             3.0  ...             0.2     Iris-setosa
2              4.7             3.2  ...             0.2     Iris-setosa
3              4.6             3.1  ...             0.2     Iris-setosa
4              5.0             3.6  ...             0.2     Iris-setosa
..             ...             ...  ...             ...             ...
145            6.7             3.0  ...             2.3  Iris-virginica
146            6.3             2.5  ...             1.9  Iris-virginica
147            6.5             3.0  ...             2.0  Iris-virginica
148            6.2             3.4  ...             2.3  Iris-virginica
149            5.9             3.0  ...             1.8  Iris-virginica

[150 rows x 5 columns]

In [58]:
iris_data = iris[['sepala_altura', 'sepala_largura', 'petala_altura', 'petala_largura']]
iris_label = iris['classe']

In [59]:
X_train, X_test, y_train, y_test = train_test_split(iris_data, 
                                                    iris_label, 
                                                    test_size=0.3, 
                                                    random_state=1)

In [67]:
# tamanho dos dados de treino e teste
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(105, 4)
(45, 4)
(105,)
(45,)

In [68]:
#classificação de treino da árvore
clf = tree.DecisionTreeClassifier() 
clf = clf.fit(X_train, y_train)     
iris_pred = clf.predict(X_test)

In [69]:
acuracia = metrics.accuracy_score(y_test, iris_pred)
print(acuracia) # 0.9555555555555556

0.9555555555555556

In [66]:
tree.plot_tree(iris_pred)  # NameError: name 'array' is not defined

NameError: ignored